//colors
$text-color: #5b5b5b;
$green-border-color: #87d78b;
$grey-color: #c1c1c1;
$red-err-color: #d23737;
$btn-norm-color: #3c9c41;
$btn-hover-color: #4db252;
$btn-pressed-color: #318636;

//colors
$brek-point-tablet: 768px;
